{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context%}
    <div class="row">
        <h1 class="text-center">{{ title }}</h1>
        <div class="col-md-4"><!-- Empty column --></div>
        <div class="col-md-4 my-form">
            {{ wtf.quick_form(form) }}
            <p>
                New here? <a href="{{ url_for('auth.register') }}">Register now</a>.
            </p>
            <p>
                Forgot password? <a href="{{ url_for('auth.reset_password_request') }}">Reset it</a>.
            </p>
        </div>
        <div class="col-md-4"><!-- Empty column --></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <button class="btn " data-toggle="modal" data-target="#usage">Usage</button>
            </div>
            <!-- Usage Modal -->
            <div class="modal fade" id="usage" tabindex="-1" role="dialog" aria-labelledby="usage">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="addLiabilityLabel">About The App</h3>
                        </div>
                        <div class="modal-body">
                            <h3>Usage</h3>
                            <p>
                                Don't know how to use the app? <a href="https://www.youtube.com/watch?v=qzvHaOdsNsU" target="_blank">Watch on YouTube</a>.
                            </p>
                            <br>
                            <h3>Available Users</h3>
                            <ul>
                                <p>
                                    <li>
                                        <strong>Admin</strong> - Can add/delete members of the support team. 
                                        New? <a href="{{ url_for('auth.admin_dashboard_registration') }}">Register here</a>.
                                        Returning? <a href="{{ url_for('auth.admin_login') }}">Login here</a>.
                                    </li>
                                </p>
                                <p>
                                    <li>
                                        <strong>Support</strong> - Can't register self. Admin will register you and you will receive a link to log in via email. 
                                        Alternatively, to quickly log in, click <a href="{{ url_for('auth.support_login') }}">here</a>.
                                    </li>
                                </p>
                                <p>
                                    <li>
                                        <strong>User</strong> - Main user. Can register self. 
                                        Click <a href="{{ url_for('auth.register') }}"> here</a> to register. 
                                        Returning? <a href="{{ url_for('auth.login') }}">Login here</a>.
                                    </li>
                                </p>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of usage modal -->
        </div>
    </div>

{% endblock %}