<table class="table table-striped">
    <tr valign='top'>
        <td width="30px">
            {% if question.support.username %}
                <img src=" {{ question.support.avatar(30) }}  ">
            {% else %}
                <img src=" {{ question.author.avatar(30) }}  ">
            {% endif %}
        </td>
        <td>
            <span class="question-id label label-default"># {{ question.id }} </span>
            
            {% if question.support.username %}  
                <span class="label label-info"> {{ question.support.username }} </span>
            {% else %}
                <span class="label label-primary"> {{ question.author.username }} </span>
            {% endif %}

            said {{ moment(question.timestamp).fromNow() }}:
            <br>
            <div class="question-body">
                {% if question.body_html %}
                    {{ question.body_html | safe }}
                {% else %}
                    {{ question.body }}
                {% endif %}
            </div>
            {% if support %}
                {% if question.answered == False %}
                    <a class="btn" target="_blank" href=" {{ url_for('support.answer', username=support.username, id=question.id) }} ">Answer &#x2197;</a>
                {% elif question.answered == True %}
                    <a class="btn disabled" href=" #">Answered</a>
                {% endif %}
            {% endif %}
        </td>
    </tr>    
</table>