<table class="table table-striped">
    <tr valign='top'>
        <td width="30px">
            <img src=" {{ question.support.avatar(30) }}  ">
        </td>
        <td>
            <span class="question-id label label-default"># {{ question.id }} </span>
            <span class="label label-success"> {{ question.author.username }} </span>  
            said {{ moment(question.timestamp).fromNow() }}:
            <br>
            <div class="question-body">
                {% if question.body_html %}
                    {{ question.body_html | safe }}
                {% else %}
                    {{ question.body }}
                {% endif %}
            </div>
            {% if support %}
                {% if question.answered == False %}
                <a class="btn" target="_blank" href=" {{ url_for('support.answer', username=support.username, id=question.id) }} ">Answer</a>
                {% elif question.answered == True %}
                <a class="btn disabled" href=" #">Answered</a>
                {% endif %}
            {% endif %}
        </td>
    </tr>    
</table>