{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context%}
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 my-form">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>  
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if support %}
                <a href="{{ url_for('support.support_dashboard', username=support.username) }}">
                    <button class="btn"><span>&#8592;</span>  Back</button>
                </a>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div> 
{% endblock %}