{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context%}
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>Your Profile</h2>
            
                <p>Username: {{ support.username }}</p>
                <p>Email: {{ support.email }}</p>
                <p>
                    Considering two-factor authentication?
                    <span>
                        {% if not support.two_factor_enabled() %}
                            <a href=" {{ url_for('auth.support_enable_2fa', username=support.username) }} ">Enable 2FA</a>
                        {% else %}
                            <a href=" {{ url_for('auth.support_disable_2fa', username=support.username) }} ">Disable 2FA</a>
                        {% endif %}
                    </span>
                </p>
                <p>
                    Want to delete account? 
                    {% if support.delete_account_status == False %}
                        <span>
                            <a class="delete-account" href=" {{ url_for('support.support_delete_account', username=support.username) }} ">Delete Account</a>
                        </span>
                    {% else %}
                        <span>
                            <a class="btn delete-account disabled" href=" {{ url_for('support.support_delete_account', username=support.username) }} ">Request sent</a>
                        </span>
                    {% endif %}
                </p>
            
        </div>
        <div class="col-md-9">
            {% for question in all_questions %}
                {% include 'support/_support_questions.html' %}
            {% endfor %}
            <div class="row">
                <div class="col-md-12">
                   <!-- Pagination of comments -->
                   <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not prev_url %} disabled{% endif %}">
                                <a href="{{ prev_url or '#' }}">
                                    <span aria-hidden="true">&#60;</span> Less
                                </a>
                            </li>
                            <li class="next{% if not next_url %} disabled{% endif %}">
                                <a href="{{ next_url or '#' }}">
                                    More <span aria-hidden="true">&#62;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of pagination of comments -->
                </div>
            </div>
        </div>
    </div>   
{% endblock %}