{% extends 'base.html' %}

{% block app_context %}
<div class="row text-center error">
    <div class="col-md-4"><!-- Empty col --></div>
    <div class="col-md-4">
        <h1>Unexpected Error</h1>
        <p>
            There has been an unexpected error. The administrator has been notified.
            Sorry for the inconvinience. Please try again later or go to the 
            <a href="{{ url_for('main.about') }}">landing page</a>.
        </p>
    </div>
    <div class="col-md-4"><!-- Empty col --></div>
</div>
{% endblock %}