{% extends 'base.html' %}

{% block app_context %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Unexpected Error</h1>
    </div>  
</div>
<div class="row text-center">
    <div class="col-md-4"><!-- Empty col --></div>
    <div class="col-md-4">
        <p>
            There has been an unexpected error. The administrator has been notified.<br>
            Sorry for the inconvinience. Please try again later or go to <a href="{{ url_for('index') }}">home page</a>.
        </p>
    </div>
    <div class="col-md-4"><!-- Empty col --></div>
</div>
{% endblock %}