{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context%}
    <div class="row">
        <div class="col-md-4"><!-- Empty column --></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ title }}</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <a data-toggle="modal" data-target="#samplePDF" href="#">See sample PDF for download</a>
                        {{ wtf.quick_form(download_data_form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Sample PDF Modal -->
        <div class="modal fade" id="samplePDF" tabindex="-1" role="dialog" aria-labelledby="samplePDFLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="samplePDFLabel">Sample PDF for Download</h4>
                    </div>
                    <div class="modal-body">
                        <img class="img-fluid" style="max-width: 100%; height:auto" src="{{ url_for('static', filename='images/sample_download.png') }}" alt="Sample Download PDF">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"><!-- Empty column --></div>
    </div>
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="{{ url_for('main.update', username=user.username) }}">
                <button class="btn"><span>&#8592;</span>  Back</button>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}