{% extends 'base.html' %}

{% block app_context %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>{{ title }}</h1>
    </div>  
</div>
<!-- Income -->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Income</h3>
            </div>
            <div class="panel-body">
                
                    <table id="income" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for year in income_years %}
                                <tr>
                                    <td>{{ year }}</td>
                                    <td>{{ income_total[year] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Expenses</h3>
            </div>
            <div class="panel-body">
                
                    <table id="expenses" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for year in expenses_years %}
                                <tr>
                                    <td>{{ year }}</td>
                                    <td>{{ expenses_total[year] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
</div>
<div class="row status">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="comparison">INCOME - EXPENSES STATUS</h3>
        <ul>
            {% for year, amount_difference in income_expenses_differences_per_year_dict.items() %}
                {% if amount_difference < 0 %}
                    <li class="danger">
                        {{ year }}: You are overspending by {{ amount_difference }}
                    </li>
                {% elif amount_difference > 0 %}
                    <li class="success">
                        {{ year }}: You are underspending by {{ amount_difference }}
                    </li>
                {% else %}
                    <li class="normal">{{ year }}: You are on track</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Assets</h3>
            </div>
            <div class="panel-body">
                
                    <table id="assets" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for year in assets_years %}
                                <tr>
                                    <td>{{ year }}</td>
                                    <td>{{ assets_total[year] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Liabilities</h3>
            </div>
            <div class="panel-body">
                
                    <table id="liabilities" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for year in liabilities_years %}
                                <tr>
                                    <td>{{ year }}</td>
                                    <td>{{ liabilities_total[year] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
</div>
<div class="row status">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="comparison">ASSETS - LIABILITIES STATUS</h3>
        <ul>
            {% for year, amount_difference in assets_liabilities_differences_per_year_dict.items() %}
                {% if amount_difference < 0 %}
                    <li class="danger">
                        {{ year }}: You are overspending by {{ amount_difference }}
                    </li>
                {% elif amount_difference > 0 %}
                    <li class="success">
                        {{ year }}: You are underspending by {{ amount_difference }}
                    </li>
                {% else %}
                    <li class="normal">{{ year }}: You are on track</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}

{% block app_scripts %}
<script>
    $(document).ready(function() {
        $('#income').DataTable();
        $('#expenses').DataTable();
        $('#assets').DataTable();
        $('#liabilities').DataTable();
    });
</script>
{% endblock %}