{% extends 'base.html' %}

{% block app_context%}
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Plan Your Finances</h1>
        </div>
    </div>
    <div class="row learn-more">
        <div class="col-md-6">
            <p>
                It's not about what you make (income), but how much you keep (expenses). Just like 
                a business has its own accounting system, every human being has his own, whether 
                he knows this or not.
            </p>
            <p>
                The first step to taking back control of your finances is to learn the basics of what 
                an income statement is and what a balance sheet is.
            </p>
        </div>
        <div class="col-md-6 img">
            <img class="img-fluid" src=" {{ url_for('static', filename='images/income_statement_example.png') }} " alt="Income Statement Example">
        </div>
    </div>
    <div class="row learn-more">
        <div class="col-md-6 img">
            <img class="img-fluid" src=" {{ url_for('static', filename='images/balance_sheet_example.png') }} " alt="Balance Sheet Example">
        </div>
        <div class="col-md-6">
            <p>
                Essentially, what you want to do is have your income purchase things or items that 
                put money in your pocket. These things are referred to as assets. An asset is something 
                that puts money in your pocket. 
            </p>
            <p>
                On the other hand, if you are spending money on things that have no return value, then 
                you risk distablizing your financial situation. These things are referred to as liabilities.
            </p>
        </div>
    </div>

{% endblock %}