.services-border {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message, #register_password_message, #register_confirm_password_message {
    display:none;
    background: #f9f9f9;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
  
#message p, #register_password_message p, #register_confirm_password_message p {
    padding: 5px 35px;
    font-size: 18px;
}
  
  /* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}
  
  /* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
 }
