/* ------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------- */
.footer {
    margin-bottom: 0px;
    position: absolute;
    /*With the parent relative, we can set our footer to absolute*/
    bottom: 0;
    /*This takes it to the bottom*/
    width: 60%;
    height: 80px;
}

@media screen and (max-width: 600px) {
    .footer {
        height: 80px;
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .footer {
        height: 80px;
        width: 90%;
    }
    .url-btn {
        font-size: 3.6rem;
        padding: 23px 20px;
    }
    .card {
        font-size: large;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .footer {
        height: 90px;
        width: 90%;
    }
}

/* Question */
.question-id, .label {
    margin-right: 5px;
    padding: 3px;
}
.question-body {
    margin-top: 10px;
}
table {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Forms */
.my-form {
    margin: 10px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 5px;
    padding: 20px;
}

/* General styling */
body {
    font-family: 'Roboto', sans-serif;
}
p {
    padding-top: 15px;
}
.dashboard {
    margin: 10px;
    background-color: rgb(248, 252, 255);
    padding: 10px;
}
.dashboard:hover {
    background-color: #ececec;
}

/* Comparison styles */
.danger {
    font-size: 35px;
    color: #950019;
}
.success {
    font-size: 35px;
    color: #00a65a;
}
.status {
    margin-top: 0px;
    margin-bottom: 30px;
    background-color: #f2f2f2;
}