{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context%}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 dashboard">
            <h2>Manage Support Team</h2>
            <div class="my-form"> {{ wtf.quick_form(form) }} </div>
            <p>Available support team:</p>
            <ol>
                {% for support in support_team %}
                    <li>
                        <p>
                            {{ support.username }} - 
                            <span class="label label-danger">
                                <a style="color: white; text-decoration: none;" href=" {{ url_for('admin.admin_delete_support_member', username=admin.username, id=support.id) }}">Delete</a>
                            </span>
                            {% if support.delete_account_status == True %}
                                <span class="label label-success">
                                    <a style="color: white; text-decoration: none;" href=" #">Request to Delete Received</a>
                                </span>
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-md-5 dashboard">
            <h2>Admin Profile</h2>
            <div class="col-md-12">
                <p>Username: {{ admin.username }}</p>
                <p>Email: {{ admin.email }}</p>
                <p>
                    Considering two-factor authentication?
                    <span>
                        {% if not admin.two_factor_enabled() %}
                            <a href=" {{ url_for('auth.admin_enable_2fa', username=admin.username) }} ">Enable 2FA</a>
                        {% else %}
                            <a href=" {{ url_for('auth.admin_disable_2fa', username=admin.username) }} ">Disable 2FA</a>
                        {% endif %}
                    </span>
                </p>
                <p>
                    Want to delete account?
                    <span>
                        <a class="delete-account" href=" {{ url_for('admin.admin_delete_account', username=admin.username) }} ">Delete Account</a>
                    </span>
                </p>
            </div>
        </div>
    </div>

{% endblock %}