{% extends 'bootstrap/base.html' %}

<!-- Link all style files here -->
{% block head %}
    {{  super() }}
    <!-- Add icon -->
    <link rel="icon" href="{{ url_for('static', filename='images/money.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
{% endblock %}

<!-- The title of our application is defined here -->
{% block title %}
    {% if title %}
        {{ title }} - Mbeca Ciaku
    {% else %}
        Start Mbeca Ciaku
    {% endif %}
{% endblock %}

<!-- This is the navbar -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=" {{ url_for('index') }} ">Mbeca Ciaku</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('update') }}">Update</a></li>
                    <li><a href=" {{ url_for('help') }} ">Need Help?</a></li>
                    <li>
                        <a href="{{ url_for('logout') }}">
                        {{ current_user.username }} 
                        <img class="img-fluid" style="height: 20px; width: 20px;" src=" {{ url_for('static', filename='images/logout.png') }} " alt="Logout">
                    </a>
                    </li>
                {% else %}
                    <li><a href=" {{ url_for('login') }} ">Login</a></li>
                {% endif %}
            </ul>                      
        </div>
    </div>
</nav>
{% endblock %}

<!-- Contents of all our pages will go here -->
{% block content %}
    <div class="container">

        <!-- Flash message -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- End of flash message -->
        {% block app_context %}{% endblock %}

        {% if current_user.is_anonymous %}
            {% block footer %}    
                <div class="row footer">
                    <div class="col-md-12 text-center">
                        <hr>
                        <small>&copy; Mbeca Ciaku - {{ moment().format('YYYY') }}</small>
                    </div>
                </div>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}

<!-- All scripts will go here -->
{% block scripts %}
    {{  super() }}
    {{ moment.include_moment() }}
    <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- DatatableJS -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

    <!-- Custom scripts -->
    {% block app_scripts %}{% endblock %}
    
{% endblock %}