<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Data Visualization, Flask, Python, Web Development, Money, Personal Finance">
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title>Folks Sacco</title>
    {% endif %}
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/money.png') }}">
    <!-- Google fonts - Source Sans Pro-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <!-- ============================================== -->
    <!-- Anonymous user -->
    <!-- ============================================== -->

    {% if current_user.is_anonymous %}        
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
        <!-- Ionicons CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
        <!-- Device mockups CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/device-mockups.css') }}">        
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.default.css') }}" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">        
    {% endif %}   
    <!--==================================================  -->
    <!-- End of anonymous user -->
    <!-- ================================================= -->


    <!--==================================================  -->
    <!-- Authenticated user -->
    <!-- ================================================= -->

    {% if current_user.is_authenticated %}        
        {{ pagedown.html_head() }}
        <!-- Choices CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/choices.js/public/assets/styles/authenticated_choices.min.css') }}">
        <!-- Custom Scrollbar-->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/overlayscrollbars/css/authenticated_OverlayScrollbars.min.css') }}">
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/authenticated_style.default.css') }}" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/authenticated_custom.css') }}">
    {% endif %}

    <!--==================================================  -->
    <!-- End of authenticated user -->
    <!-- ================================================= -->

</head>
<body>
    <!-- ============================================== -->
    <!-- Anonymous user -->
    <!-- ============================================== -->
    {% if current_user.is_anonymous %}        

        <!-- navbar-->
        <header class="header">
            <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Navbar brand--><a href="{{ url_for('main.about') }}" class="navbar-brand font-weight-bold"><h4><span style="color: black;">Mbeca</span>Ciaku</h4></a>
                <!-- Navbar toggler button-->
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">Menu<i class="icon ion-md-list ml-2"></i></button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class=" ml-auto"></ul>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="# " data-toggle="modal" data-target="#login" class="nav-link font-weight-bold mr-3">Login</a></li>
                        <li class="nav-item"><a href="#" data-toggle="modal" data-target="#register" class="navbar-btn btn btn-primary">Register</a></li>
                    </ul>
                </div>
            </div>
            </nav>
        </header>
        <!-- Login Modal-->
        <div id="login" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade bd-example-modal-lg">
            <div role="document" class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body p-4 p-lg-5">
                    <form action="{{ url_for('auth.login') }}" class="login-form text-left" method="post" novalidate>
                        <legend style="text-decoration: underline purple 5px;" class="text-center mb-4">Login</legend>
                        <div class="form-group mb-4">
                            <label>Username</label>
                            <input type="text" name="username" placeholder="Muthoni" class="form-control" required>
                        </div>
                        <div class="form-group mb-2">
                            <label>Password</label>
                            <input 
                                id="password"
                                type="password" 
                                name="password" 
                                placeholder="Hard2Gue3" 
                                class="form-control" 
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
                                required>                            
                        </div>  
                        <div class="form-group mb-4">
                            <input type="checkbox" onclick="myFunction()"> Show Password
                        </div>                      
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary">
                        </div>
                    </form>
                    <!-- Password message -->
                    <div id="message">
                        <h5>Password must contain the following:</h5>
                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                        <p id="number" class="invalid">A <b>number</b></p>
                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Register Modal-->
        <div id="register" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade bd-example-modal-lg">
            <div role="document" class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body p-4 p-lg-5">
                    <form action="{{ url_for('auth.register') }}" class="login-form text-left" method="post" novalidate>
                        <legend style="text-decoration: underline purple 5px;" class="text-center mb-4">Register</legend>
                        <div class="form-group mb-4">
                            <label>Username</label>
                            <input type="text" name="username" placeholder="Muthoni" class="form-control" required>
                        </div>
                        <div class="form-group mb-4">
                          <label>Email</label>
                          <input type="email" name="email" placeholder="muthoni@email.com" class="form-control" required>
                      </div>
                        <div class="form-group mb-2">
                            <label>Password</label>
                            <input 
                                type="password" 
                                id="register_password" 
                                name="password"
                                placeholder="Hard2Gue3" 
                                class="form-control" 
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
                                required>                            
                        </div>
                        <div class="form-group mb-4">
                            <input type="checkbox" onclick="myPasswordFunction()"> Show Password
                        </div> 
                        <!-- Password message -->
                        <div id="register_password_message">
                            <h5>Password must contain the following:</h5>
                            <p id="letter_register_password" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital_register_password" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number_register_password" class="invalid">A <b>number</b></p>
                            <p id="length_register_password" class="invalid">Minimum <b>8 characters</b></p>
                        </div>
                        <div class="form-group mb-2">
                            <label>Confirm Password</label>
                            <input 
                                type="password" 
                                id="register_confirm_password" 
                                name="confirm_password"
                                placeholder="Hard2Gue3" 
                                class="form-control" 
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
                                required>
                        </div>
                        <div class="form-group mb-4">
                            <input type="checkbox" onclick="myConfirmPasswordFunction()"> Show Password
                        </div> 
                        <!-- Password message -->
                        <div id="register_confirm_password_message">
                            <h5>Password must contain the following:</h5>
                            <p id="letter_register_confirm_password" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital_register_confirm_password" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number_register_confirm_password" class="invalid">A <b>number</b></p>
                            <p id="length_register_confirm_password" class="invalid">Minimum <b>8 characters</b></p>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>

        <!-- Other pages -->
        {% block anonymous_content %}
        
        <div class="containter">
            <!-- Flash message -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- End of flash message -->
        </div>
        {% endblock %}
        <!-- End of other pages -->

        <!-- Footer -->
        <footer class="footer">
            <div class="container text-center">
            <!-- Copyrights-->
            <div class="copyrights">
                <!-- Social menu-->
                <ul class="social list-inline-item">
                    <li class="list-inline-item"><a href=" https://twitter.com/GitauHarrison1 " target="_blank" class="social-link"><i class="icon ion-logo-twitter"></i></a></li>
                    <li class="list-inline-item"><a href=" https://github.com/GitauHarrison/mbeca-ciaku " target="_blank" class="social-link"><i class="icon ion-logo-github"></i></a></li>
                    <li class="list-inline-item"><a href=" https://www.youtube.com/watch?v=qzvHaOdsNsU&ab_channel=GitauHarrison " target="_blank" class="social-link"><i class="icon ion-logo-youtube"></i></a></li>                    
                </ul>
                <p class="copyrights-text mb-0">&copy; {{ moment().format('YYYY') }} — Mbeca Ciaku</p>
            </div>
            </div>
        </footer>
        <!-- End of footer -->

        <!-- JavaScript files-->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

        <!-- MomentJS -->
        {{ moment.include_moment() }}

        
    {% endif %}
    <!--==================================================  -->
    <!-- End of anonymous user -->
    <!-- ================================================= -->


    <!--==================================================  -->
    <!-- Authenticated user -->
    <!-- ================================================= -->

    {% if current_user.is_authenticated %}

        <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-inner">
          <!-- Sidebar Header    -->
          <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
              <img class="img-fluid rounded-circle avatar mb-3" src="{{ current_user.avatar(36) }}" alt="person">
              <h2 class="h5 text-white text-uppercase mb-0">{{ current_user.username }}</h2>
              <!-- <p class="text-sm mb-0 text-muted">Web Developer</p> -->
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <a class="brand-small text-center" href="{{ url_for('user.dashboard') }}">
              <p class="h1 m-0">MC</p>
            </a>
          </div>
          <!-- Sidebar Navigation Menus-->
          <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Main</span>
          <ul class="list-unstyled">                  
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{ url_for('user.dashboard') }}"> 
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2"><use xlink:href="#real-estate-1"> </use></svg>Home 
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#"> 
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2"><use xlink:href="#survey-1"> </use></svg>Income 
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#"> 
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2"><use xlink:href="#sales-up-1"> </use></svg>Expenses 
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#"> 
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2"><use xlink:href="#portfolio-grid-1"> </use></svg>Liabilities 
              </a>
            </li>
          </ul><span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Take Action</span>
          <ul class="list-unstyled py-4">
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{ url_for('auth.enable_2fa') }}"> 
                <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2"><use xlink:href="#chart-1"> </use></svg>Enable 2FA
              </a>
            </li>
            <li class="sidebar-item"> 
              <a class="sidebar-link" href="#"> 
                <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2"><use xlink:href="#chart-1"> </use></svg>Profile
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="page">
        <!-- navbar-->
        <header class="header mb-5 pb-3">
          <nav class="nav navbar fixed-top">
            <div class="container-fluid">
              <div class="d-flex align-items-center justify-content-between w-100">
                <div class="d-flex align-items-center">
                  <a class="menu-btn d-flex align-items-center justify-content-center p-2 bg-gray-900" id="toggle-btn" href="#">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy text-white">
                      <use xlink:href="#menu-1"> </use>
                    </svg>
                  </a>
                  <a class="navbar-brand ms-2" href="{{ url_for('user.dashboard') }}">
                    <div class="brand-text d-none d-md-inline-block text-uppercase letter-spacing-0">
                      <span class="text-white fw-normal text-xs">Mbeca </span><strong class="text-violet text-sm">Ciaku</strong>
                    </div>
                  </a>
                </div>
                <ul class="nav-menu mb-0 list-unstyled d-flex flex-md-row align-items-md-center">                  
                  <!-- Log out-->
                  <li class="nav-item">
                    <a class="nav-link text-white text-sm ps-0" href="{{ url_for('auth.logout') }}">
                      <span class="d-none d-sm-inline-block">Logout</span>
                      <svg class="svg-icon svg-icon-xs svg-icon-heavy"><use xlink:href="#security-1"> </use></svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>

        {% block authenticated_content %}
        
         <!-- Flash message -->
         {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- End of flash message -->

        {% endblock %}        

        <!-- Footer -->
        <footer class="main-footer w-100 position-absolute bottom-0 start-0 py-2" style="background: #222">
          <div class="container-fluid">
            <div class="row text-center gy-3">
              <div class="col-sm-6 text-sm-start">
                <p class="mb-0 text-sm text-gray-600">&copy; 2022 - {{ moment().format('YYYY') }} — Mbeca Ciaku</p>
              </div>
              <div class="col-sm-6 text-sm-end">
                <p class="mb-0 text-sm text-gray-600">Publicly Available On <a href="https://github.com/GitauHarrison/mbeca-ciaku" class="external" target="_blank" style="color: #fff;">GitHub</a></p>
              </div>
            </div>
          </div>
        </footer>
      </div>


      <!-- Moment JS -->
      {{ moment.include_moment() }}

      <!-- JavaScript files-->
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/choices.js/public/assets/scripts/choices.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/overlayscrollbars/js/OverlayScrollbars.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/authenticated_charts-home.js') }}"></script>
      <!-- Main File-->
      <script src="{{ url_for('static', filename='js/front.js') }}"></script>
      <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {
        
            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
        
        
      </script>
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


        <!-- Phone verification field -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput-jquery.min.js"></script>
        
        <script>
            $("#verification_phone").css({position: 'absolute', top: '-9999px', left: '-9999px'});
            $("#verification_phone").parent().append('<div><input type="tel" id="_verification_phone"></div>');
            $("#_verification_phone").intlTelInput({
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            $("#_verification_phone").intlTelInput("setNumber", $('#verification_phone').val());
            $('#_verification_phone').blur(function() {
                $('#verification_phone').val($('#_verification_phone').intlTelInput("getNumber"));
            });
        </script>

        <!-- Custom scripts -->
        {% block authenticated_scripts %}{% endblock %}
    {% endif %}
    <!--==================================================  -->
    <!-- End of authenticated user -->
    <!-- ================================================= -->

</body>
</html>