{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Update Your Financial Statement</h1><br>
    </div>  
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#budget">Budget Items</a></li>
            <li><a data-toggle="tab" href="#income">Income</a></li>
            <li><a data-toggle="tab" href="#expenses">Expenses</a></li>
            <li><a data-toggle="tab" href="#assets">Assests</a></li>
            <li><a data-toggle="tab" href="#liabilities">Liabilities</a></li>
        </ul>
        
        <div class="tab-content">
            <!-- BUDGET AND EXPENSES TAB -->
            <br>
            <div id="budget" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>Budget Items</h3>
                        {{ wtf.quick_form(budget_form) }}
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Budget Items</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    {% for budget_item in budget_items %}
                                        <li style="margin-left: 20px;">
                                            {{ budget_item.name }} | 
                                            <a href="{{ url_for('budget_item_delete', id=budget_item.id) }}">Delete</a>
                                            <hr>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-sm-3">
                        <h3>Income Sources</h3>
                        {{ wtf.quick_form(income_form) }}
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Income Sources</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    {% for income_source in income_sources %}
                                        <li style="margin-left: 20px;">
                                            {{ income_source.name }} | 
                                            <a href="{{ url_for('income_source_delete', id=income_source.id) }}">Delete</a>
                                            <hr>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                        
                    <div class="col-sm-3">
                        <h3>Asset Items</h3>
                        {{ wtf.quick_form(asset_form) }}
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Asset Items</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    {% for asset_item in asset_items %}
                                        <li style="margin-left: 20px;">
                                            {{ asset_item.name }} | 
                                            <a href="{{ url_for('asset_item_delete', id=asset_item.id) }}">Delete</a>
                                            <hr>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <h3>Liability Items</h3>
                        {{ wtf.quick_form(liability_form) }}
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Liability Items</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    {% for liability_item in liability_items %}
                                        <li style="margin-left: 20px;">
                                            {{ liability_item.name }} | 
                                            <a href="{{ url_for('liability_item_delete', id=liability_item.id) }}">Delete</a>
                                            <hr>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END OF BUDGET AND EXPENSES TAB -->

            <!-- INCOME TAB -->
            <div id="income" class="tab-pane fade">
                <h2>Income</h2>
                <div class="row"></div>
            </div>
            <!-- END OF INCOME TAB -->

            <!-- EXPENSES TAB -->
            <div id="expenses" class="tab-pane fade">
                <h2>Expenses</h2>
                <div class="row"></div>
            </div>
            <!-- END OF EXPENSES TAB -->

            <!-- ASSETS TAB -->
            <div id="assets" class="tab-pane fade">
                <h2>Assets</h2>
                <div class="row"></div>
            </div>
            <!-- END OF ASSETS TAB -->

            <!-- LIABILITIES TAB -->
            <div id="liabilites" class="tab-pane fade">
                <h2>Liabilites</h2>
                <div class="row"></div>
            </div>
            <!-- END OF LIABILITIES TAB -->
        </div>
    </div>
</div>
{% endblock %}