{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context%}
    <div class="row">
        <div class="col-md-3">
            <h1>Your Profile</h1>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>
                Considering two-factor authentication?
                <span>
                    {% if not user.two_factor_enabled() %}
                        <a href=" {{ url_for('enable_2fa') }} ">Enable 2FA</a>
                    {% else %}
                        <a href=" {{ url_for('disable_2fa') }} ">Disable 2FA</a>
                    {% endif %}
                </span>
            </p>
            <hr>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1 class="text-center">Ask the Support Team</h1>
                <div class="col-md-12 my-form">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% for question in questions %}
                        {% include '_questions.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <!-- Pagination of comments -->
                   <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not prev_url %} disabled{% endif %}">
                                <a href="{{ prev_url or '#' }}">
                                    <span aria-hidden="true">&#60;</span> Less
                                </a>
                            </li>
                            <li class="next{% if not next_url %} disabled{% endif %}">
                                <a href="{{ next_url or '#' }}">
                                    More <span aria-hidden="true">&#62;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of pagination of comments -->
                </div>
            </div>
        </div>
    </div>    
{% endblock %}