{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Update Your Financial Statement</h1><br>
    </div>  
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#budget">Budget Items</a></li>
            <li><a data-toggle="tab" href="#income-sources">Income</a></li>
            <li><a data-toggle="tab" href="#expenses">Expenses</a></li>
            <li><a data-toggle="tab" href="#assets">Assests</a></li>
            <li><a data-toggle="tab" href="#liabilities">Liabilities</a></li>
        </ul>
        
        <div class="tab-content">
            <!-- BUDGET AND EXPENSES TAB -->
            <br>
            <div id="budget" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addBudgetItem">Add Budget Item</button>
                        </div>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Your Monthly Budget</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <table id="budget-data" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Budget Item</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for budget_item in budget_items %}
                                                <tr>
                                                    <td>{{ budget_item.name }}</td>
                                                    <td>{{ budget_item.date }}</td>
                                                    <td>{{ budget_item.amount }}</td>
                                                    <td>
                                                        <a href="{{ url_for('budget_item_delete', id=budget_item.id) }}" class="btn btn-danger btn-xs">Delete</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </ul>
                            </div>
                        </div>

                        <!-- Add Budget Item Modal -->
                        <div class="modal fade" id="addBudgetItem" tabindex="-1" role="dialog" aria-labelledby="addBudgetItemLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="addBudgetItemLabel">Add Budget Item</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ wtf.quick_form(budget_form) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Budget data chart -->
                <div class="row">
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Budget Data Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="budget-chart">
                                    <canvas id="budget-chart-canvas" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Download Budget Data</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    Want to download your budget data? 
                                    <a href=" {{ url_for('download_budget_data') }} ">Click here</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF BUDGET AND EXPENSES TAB -->

            <!-- INCOME TAB -->
            <div id="income-sources" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addIncomeSource">Add Amount of Income</button>
                        </div>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Income Sources</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <table id="income-data" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in actual_incomes %}
                                                <tr>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.date }}</td>
                                                    <td>{{ item.amount }}</td>
                                                    <td>
                                                        <a href="{{ url_for('actual_income_delete', id=item.id) }}" class="btn btn-danger btn-xs">Delete</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </ul>
                            </div>
                        </div>

                        <!-- Add Income Source Modal -->
                        <div class="modal fade" id="addIncomeSource" tabindex="-1" role="dialog" aria-labelledby="addIncomeSourceLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="addIncomeSourceLabel">Add Amount of Income</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ wtf.quick_form(actual_income_form) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Income data chart -->
                <div class="row">
                    <div class="col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Actual Incomes Data Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="budget-chart">
                                    <canvas id="income-chart-canvas" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Download Actual Incomes Data</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    Want to download your actual incomes data? 
                                    <a href=" # ">Click here</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF INCOME TAB -->

            <!-- EXPENSES TAB -->
            <div id="expenses" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addExpense">Add Expense</button>
                        </div>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Expenses</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <table id="expenses-data" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for expense in actual_expenses %}
                                                <tr>
                                                    <td>{{ expense.name }}</td>
                                                    <td>{{ expense.date }}</td>
                                                    <td>{{ expense.amount }}</td>
                                                    <td>
                                                        <a class="label label-danger" href="{{ url_for('actual_expense_delete', id=expense.id) }}">Delete</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </ul>
                            </div>
                        </div>

                        <!-- Add Expense Modal -->
                        <div class="modal fade" id="addExpense" tabindex="-1" role="dialog" aria-labelledby="addExpenseLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="addExpenseLabel">Add Expense</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ wtf.quick_form(expense_form) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Expenses data chart -->
                <div class="row">
                    <div class="col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Expenses Data Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="budget-chart">
                                    <canvas id="expenses-chart-canvas" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Download Expenses Data</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    Want to download your expenses data? 
                                    <a href=" {{ url_for('download_expenses_data') }} ">Click here</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF EXPENSES TAB -->

            <!-- ASSETS TAB -->
            <div id="assets" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addAsset">Add Asset</button>
                        </div>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Assets</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <table id="assets-data" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for asset in assets %}
                                                <tr>
                                                    <td>{{ asset.name }}</td>
                                                    <td>{{ asset.date }}</td>
                                                    <td>{{ asset.amount }}</td>
                                                    <td>
                                                        <a class="label label-danger" href="{{ url_for('asset_delete', id=asset.id) }}">Delete</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </ul>
                            </div>
                        </div>

                        <!-- Add Asset Modal -->
                        <div class="modal fade" id="addAsset" tabindex="-1" role="dialog" aria-labelledby="addAssetLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="addAssetLabel">Add Asset</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ wtf.quick_form(asset_form) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Assets data chart -->
                <div class="row">
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Assets Data Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="budget-chart">
                                    <canvas id="assets-chart-canvas" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Download Assets Data</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    Want to download your assets data? 
                                    <a href=" {{ url_for('download_asset_data') }} ">Click here</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF ASSETS TAB -->

            <!-- LIABILITIES TAB -->
            <div id="liabilities" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addLiability">Add Liability</button>
                        </div>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Liabilities</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <table id="liabilities-data" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for actual_liability in liabilities %}
                                                <tr>
                                                    <td>{{ actual_liability.name }}</td>
                                                    <td>{{ actual_liability.date }}</td>
                                                    <td>{{ actual_liability.amount }}</td>
                                                    <td>
                                                        <a class="label label-danger" href="{{ url_for('liability_delete', id=actual_liability.id) }}">Delete</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </ul>
                            </div>
                        </div>

                        <!-- Add Liability Modal -->
                        <div class="modal fade" id="addLiability" tabindex="-1" role="dialog" aria-labelledby="addLiabilityLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="addLiabilityLabel">Add Liability</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ wtf.quick_form(liability_form) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Liabilities data chart -->
                <div class="row">
                    <div class="col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Actual Assets Data Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="budget-chart">
                                    <canvas id="liabilities-chart-canvas" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Download Liabilities Data</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    Want to download your liabilities data? 
                                    <a href=" {{ url_for('download_liabilities_data') }} ">Click here</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF LIABILITIES TAB -->
        </div>
    </div>
</div>
{% endblock %}

{% block app_scripts %}
<script>
    $(document).ready(function() {
        $('#tabs').tab();
    });
    // Budget chart
    var ctx = document.getElementById("budget-chart-canvas").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for year in user_budget_data[4]%}
                    "{{ year }}",
                {% endfor %}
            ],
            datasets: [
                {% for rep in range(reps) %}
                    {
                        label: "Year {{ budget_years[rep] }}",
                        data: {{ budget_amounts[rep] }},
                        borderColor: "{{ colors[rep] }}",
                        backgroundColor: "{{ colors[rep] }}",
                        fill: false,
                        borderWidth: 1
                    },
                {% endfor %}
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        reverse: false,
                    }
                }]
            }
        }
    });

    // Actual incomes chart
    var ctx = document.getElementById("income-chart-canvas").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for month in income_months %}"{{ month }}",{% endfor %}],
            datasets: [{
                label: ['2022 Income'],
                data: [{% for amount in income_amounts %}{{ amount }},{% endfor %}],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255,99,132,1)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                        beginAtZero:false
                    }
            }
        }
    });

    // Actual assets chart
    var ctx = document.getElementById("assets-chart-canvas").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for year in user_assets_data[4] %}"{{ year }}",{% endfor %}],
            datasets: [{
                {% for rep in range(asset_reps) %}
                    label: "Year {{ asset_years[rep] }}",
                    data: {{ asset_amounts[rep] }},
                    borderColor: "{{ asset_colors[rep] }}",
                    backgroundColor: "{{ asset_colors[rep] }}",
                    fill: false,
                    borderWidth: 1
                {% endfor %}
            }]
        },
    });

    // Expenses chart
    var ctx = document.getElementById("expenses-chart-canvas").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for year in user_expenses_data[4] %}"{{ year }}",{% endfor %}],
            datasets: [{
                {% for rep in range(expense_reps) %}
                    label: "Year {{ expense_years[rep] }}",
                    data: {{ expense_amounts[rep] }},
                    borderColor: "{{ expense_colors[rep] }}",
                    backgroundColor: "{{ expense_colors[rep] }}",
                    fill: false,
                    borderWidth: 1
                {% endfor %}
            }]
        },
    });

    // Liabilities chart
    var ctx = document.getElementById("liabilities-chart-canvas").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for year in user_liabilities_data[4] %}"{{ year }}",{% endfor %}],
            datasets: [{
                {% for rep in range(liability_reps) %}
                    label: "Year {{ liability_years[rep] }}",
                    data: {{ liability_amounts[rep] }},
                    borderColor: "{{ liability_colors[rep] }}",
                    backgroundColor: "{{ liability_colors[rep] }}",
                    fill: false,
                    borderWidth: 1
                {% endfor %}
            }]
        },
    });

</script>
<script>
    // DataTablesJS
    $(document).ready(function() {
        $('#budget-data').DataTable();
        $('#income-data').DataTable();
        $('#assets-data').DataTable();
        $('#expenses-data').DataTable();
        $('#liabilities-data').DataTable();
    });
</script>
{% endblock %}